.linkBar {
    float: right;
    margin: 35px -105px 0px 60px;

}

.navbar {
    padding: 0px;
    margin: auto;
    margin-bottom: -21px;
    clear: both;
    height: 100px;
    width: 800px;

}

.header {
    border-bottom: solid #cccccc 2px;
    background-color: white;
}

.nameLogo {
    float: left;
    background-color: #4aaaa5;
    padding: 0px 25px 0px 25px;
    margin: 0px 0px 0px -115px;


}

.container {
    padding: 35px;
    border: solid #cccccc 1px;
    /* margin: 60px; */
    margin: auto;
    margin-top: 60px;
    max-width: 960px;
    background-color: #F8F9F9;
    
}

.mainContent {
    clear: both;
    width: 100%;
    margin: auto;
    padding: 15px;
    /* position: relative; */
    /* border-bottom: solid #cccccc 2px; */

}

.profileImage{
    width: 150px;
    height: 195px;
    float:left;
    margin: 0px 20px 0px 0px;
}

.lrgft {
    font-size: 19px;
}

hr {
    width:100%;
}

.footer {
    height: auto;
    border-top: solid #4aaaa5 4px;
    margin: auto;
    background-color: #666666;
    position: fixed;
    bottom: 0px;
    width: 100%;

}

.endNote {
    margin: 40px 0px 5px 0px;
    color: white;
    text-align: center;
}

.whiteText {
    color: white;
}


h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}



p, .specialFont, .textTile {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.75;
} 

.textTile {
    color: #17202A;
}

body {
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;
    height: 1000px;
    margin:auto;
}

a:link, a:visited, a:active { 
    text-decoration: none;
    color: #777777;
}

.shadz:hover {
    box-shadow: 2px 2px 12px #262626
}


.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.tileContainer {
    margin: 0px 0px 500px 0px;
}

.textTile {
    background-color: #4aaaa5;
    opacity: 50%;
    padding: 5px;
    border: solid #777777 1px;
    border-radius: 0px;
    border-top-right-radius: 40px;
    margin: 90px 0px 0px 0px;
    /* display: inline; */
}

.siteTile {
    width:150px;
    height:150px;
    clear:both;
    position: absolute;
}

.box-1 {
    background-image: url(../images/box1.png);
    background-size: 150px 150px;
    float: left;
    clear: left;
    margin: 15px 0px 0px 300px;
    position: relative;
}

.box-2 {
    background-image: url(../images/box2.png);
    background-size: 150px 150px;
    float: right;
    clear: right;
    margin: 15px 300px 0px 0px;
    position: relative;
}

.box-3 {
    background-image: url(../images/box3.png);
    background-size: 150px 150px;
    float: left;
    clear: left;
    margin: 10px 0px 0px 300px;
    position: relative;
}

.box-4 {
    background-image: url(../images/box4.png);
    background-size: 150px 150px;
    float: right;
    clear: right;
    margin: 10px 300px 0px 0px;
    position: relative;
}

.box-5 {
    background-image: url(../images/box5.png);
    background-size: 150px 150px;
    float: left;
    clear: left;
    margin: 10px 0px 0px 300px;
    position: relative;
}

.box-6 {
    background-image: url(../images/box6.png);
    background-size: 150px 150px;
    float: right;
    clear: right;
    margin: 10px 300px 0px 0px;
    position: relative;
}